<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MailLogin" value="LabWork15kafIS@gmail.com" />
    <add key="MailPassword" value="passlab15" />
  </appSettings>
</configuration>